:root{
    --bg-color:aqua;
    --second-bg-color: darkblue;
    --text-color:black;
    --second-text-color:white;
}
@media(prefers-color-scheme:dark){
    :root{
        --bg-color:darkred;
        --second-bg-color:yellow;
        --text-color:white;
        --second-text-color: black;
    }
}


body {
    background: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
   background: yellow;
   border: solid gray 5px;
   width: 800px;
   height: 800px;
   margin-left: auto;
   margin-right: auto; 
}

.block {
    background: green;
    border: 1px solid olive;
    height: 200px;
    width: 200px;
}



.block3{
    flex-shrink: 0;
    flex-grow: 3;
}

.block4{
    flex-shrink: 3;
}
.block1{
    flex-grow: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
    height: 100%;
    min-height: 100%;
    color:var(--text-color);
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    background: var(--bg-color)
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

header{
    min-height: 120px;
    background: var(--second-bg-color);
    color: var(--second-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.main-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
.main-menu a {
    color: var(--second-text-color);
}
.main-menu li{
    flex-shrink: 0;
}
h1{
    flex-shrink: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background: var(--second-bg-color);
    color: var(--second-text-color);
}
aside{
   background: lightcyan;
   width: 250px; 
}
.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.card{
    width: 20%;
    border: 1px solid darkcyan;
    border-radius: 15px;
    padding-bottom: 15px;
}

.card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card h3 {
    color: var(--second-bg-color);
    margin: 10px 15px;
}
.card-price{
    margin: 0 15px;
}
.card button{
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover,
.card button:focus {
 box-shadow: 0 0 5px darkcyan;
}
.content {
    padding: 20px;

}
.drop-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.drop-menu svg{
    fill: var(--second-text-color);
    width: 44px;
    height: 44px;
}

@media(max-width:992px){
    .card{
        width: 30%;
    }
}

@media(max-width:768px){
    aside{
        display: none;
    }
}

@media(max-width:600px){
    .card {
        width:46%
    }
}

@media(max-width:576px){
    .drop-menu{
        display:block
    }
    .main-menu{
        display: none;
    }
}

@media(max-width:500px){
    .card img {
        height: 120px;
    }
}